// Typography

h3
  font-weight: 700
  text-transform: uppercase

h4
  font-weight: 400

h5
  font-weight: 700
  text-transform: uppercase

h6
  font-weight: 700

// Navbar

.navbar > .container-fluid .navbar-logo
  margin-left: -15px

.navbar-nav > li.navbar-logo > a
  padding: 0
  background-color: $pryv-dark-gray

// Code

pre
  border: none

// Type

.page-header
  padding: ceil($default-padding * 0.75) $default-padding
  margin-left: - $default-padding
  margin-right: - $default-padding
  border: none
  background-color: $light-type-background-hex
  background-color: $light-type-background
