// Custom stuff

.container.container-narrow
  max-width: 700px


// Typography

h1
  font-weight: 300

h3, h5
  text-transform: uppercase

h4
  font-weight: 400

// Navbar

.navbar > .container-fluid .navbar-logo
  margin-left: -15px

.navbar-nav > li.navbar-logo > a
  padding: 0
  background-color: $pryv-dark-gray

// Code

pre
  border: none

// Type

$page-header-vpadding = ceil($default-padding * 0.5)
$page-header-hline-overflow = ceil($default-padding * 1.5)
$page-header-hline-border = 2px dotted $text-color
$page-header-hline-voffset = "calc(%s + %sem - 1px)" % ($page-header-vpadding $headings-line-height/2)

.page-header
  position: relative
  padding: $page-header-vpadding $page-header-hline-overflow
  margin-left: - $page-header-hline-overflow
  margin-right: - $page-header-hline-overflow
  border: none
  overflow: hidden

  &:before, &:after
    position: absolute
    content: ""
    z-index: 3
    width: 100%
    height: 0

  &:before
    top: $page-header-hline-voffset
    margin-left: calc(-100% - 5px)
    border-bottom: $page-header-hline-border

  &:after
    bottom: $page-header-hline-voffset
    margin-left: 5px
    border-top: $page-header-hline-border
