// Custom stuff

.container.container-narrow
  max-width: 700px


// Typography

uppercase()
  text-transform: uppercase
  letter-spacing: 0.05em

$border-large-width = 2px
$border-large = $border-large-width dotted $text-color
$border-small-width = 1px
$border-small = $border-small-width dotted $text-color

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4
  //margin-top: ceil($line-height-computed * 1.5)
  //margin-bottom: ceil($line-height-computed / 2)
  uppercase()

h1
  font-weight: 300
h2, .h2
  font-weight: 400
h3, .h3
  font-weight: 700
h4, .h4
  font-weight: 700
h5, .h5
  uppercase()
  font-weight: 500
h6, .h6
  font-weight: 500

// Fix "bold" weights to match actual fonts

b,
strong,
optgroup,
dt,
th,
kbd kbd,
label,
.label
  font-weight: $bold-weight

.lead strong
  font-weight: 400


// Navbar

.navbar-nav > li > a,
.dropdown-menu > li > a,
.btn
  font-family: $font-family-condensed
  text-transform: uppercase
  letter-spacing: 0.02em

@media (min-width $grid-float-breakpoint)
  .navbar > .container-fluid .navbar-logo
    margin-left: -15px

.navbar-nav > li.navbar-logo > a
  padding: 0
  background-color: $pryv-dark-gray

// Tables

.table
  &> thead > tr > th
    border-bottom: 1px solid $table-border-color
  &> thead > tr > th,
  &> tbody > tr > th,
  &> tfoot > tr > th,
  &> thead > tr > td,
  &> tbody > tr > td,
  &> tfoot > tr > td
    border-top: 1px dotted $table-border-color

// Type

hr
  border-top: $border-small

$page-header-vpadding = ceil($default-padding * 0.5)
$page-header-hline-border = $border-large
$page-header-hline-voffset-top = "calc(%s + %sem + 3px)" % ($page-header-vpadding $headings-line-height*0.35)
$page-header-hline-voffset-bottom = "calc(%s + %sem - 5px)" % ($page-header-vpadding $headings-line-height*0.65)

.page-header
  position: relative
  padding: $page-header-vpadding $grid-gutter-width
  margin-left: - $grid-gutter-width
  margin-right: - $grid-gutter-width
  border: none
  overflow: hidden

  &:before, &:after
    position: absolute
    content: ""
    z-index: 3
    width: 100%
    height: 0

  &:before
    top: $page-header-hline-voffset-top
    margin-left: calc(-100% - 0.25em)
    border-bottom: $page-header-hline-border

  &:after
    bottom: $page-header-hline-voffset-bottom
    margin-left: 0.25em
    border-top: $page-header-hline-border

text-group()
  margin-left: - floor($grid-gutter-width / 2)
  margin-right: - floor($grid-gutter-width / 2)
  padding: ($line-height-computed / 2) floor($grid-gutter-width / 2)

section.highlight
  text-group()
  border: $border-small
  background-color: $white

// Code

pre
  text-group()
  border: none

// play nicer with Highlight.js
.hljs
  padding: 0
  background: transparent
