body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  background-color: $body-bg;
}

/* Angular loading page trigger */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; 
}

.spacing {
  padding:10px;
}

.helper {
  background: $gray-lighter;
  color: $gray-dark;
  margin-bottom:10px;
}

.helper * {
  color: $gray-light;
}

.inbox {
  padding:0 0 0.5em 0;
}

.logo {
  margin:0;
  padding:0px;
}

/* animations */ 
  
.fadeOn {
  @include transition(border-color,color, background $default-time-transition ease-in-out);
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.clearfix {
  @include clearfix();
}
.center-block {
  @include center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}