.topbar{
	background-color: $navbar-default-bg;
	border-bottom: 1px solid #E2E2E2;
	height: $navbar-height;

	.nav {
		margin: 0;
		padding-left: 0;
		>li {
			float: left;
			position: relative;
			display: block;
			list-style: none;
			>a {
				position: relative;
				display: block;
				padding: 15px 15px;
				line-height: 20px;
				height: 20px;
				text-decoration: none;
				color: $navbar-text-color;
			}
			>a:focus, >a:hover {
				color: $global-hover-color;
				background-color: $global-hover-bg;
			}
			>a .icon {
				font-size: 20px;
				position: relative;
				top: 4px;
				line-height: 17px;
			}
		}
		.logo>a {
				padding: 0;
			}
	}
	.align-right>li {
				float: right;
			}

}